:root {
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
    --charizard1: #fac;
    --charizard2: #ddccaa;
    --pika1: #54a29e;
    --pika2: #a79d66;
    --eevee1: #efb2fb;
    --eevee2: #acc6f8;
    --mewtwo1: #efb2fb;
    --mewtwo2: #acc6f8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #333844;
}

#app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    gap: 10px;
}

#container-with-pokemons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    justify-content: center;
}

.pokemon-card {
    background-color: #191919;
    padding: 0px 5px 5px 5px;
    width: 240px;
    height: 336px;
    border: 2px solid;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s;
}

.pokemon-card:hover {
    transform: scale(1.02);
}

.pokemon-card>img {
    height: 200px;
    max-width: 200px;
    position: absolute;
    top: 20px;
    z-index: 10;
}

.card-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    padding: 0 10px 10px 10px;
}

.card-headline {
    text-align: center;
}

.card-id {
    position: relative;
}

.card-id>span {
    position: absolute;
    top: -13px;
    right: -13px;
    font-weight: 600;
    padding: 5px;
    border-radius: 50%;
}

.type-symbol-img {
    width: 50px;
}

.pokemon-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.class-type {
    display: flex;
}

.pokemon-height,
.class-weight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.border-black {
    border-color: black;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.color-black {
    background-color: black;
}

.border-blue {
    border-color: rgb(0, 0, 255);
    box-shadow: 0 0 8px rgba(0, 0, 255, 0.5);
}

.color-blue {
    background-color: rgb(0, 0, 255);
}


.border-brown {
    border-color: rgb(139, 69, 19);
    box-shadow: 0 0 8px rgba(139, 69, 19, 0.5);
}

.color-brown {
    background-color: rgb(139, 69, 19);
}

.border-gray {
    border-color: rgb(128, 128, 128);
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.5);
}

.color-gray {
    background-color: rgb(128, 128, 128);
}

.border-green {
    border-color: rgb(34, 139, 34);
    box-shadow: 0 0 8px rgba(34, 139, 34, 0.5);
}

.color-green {
    background-color: rgb(34, 139, 34);
}

.border-pink {
    border-color: rgb(255, 105, 180);
    box-shadow: 0 0 8px rgba(255, 105, 180, 0.5);
}

.color-pink {
    background-color: rgb(255, 105, 180);
}

.border-purple {
    border-color: rgb(155, 89, 182);
    box-shadow: 0 0 8px rgba(155, 89, 182, 0.5);
}

.color-purple {
    background-color: rgb(155, 89, 182);
}

.border-red {
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
}

.color-red {
    background-color: rgb(255, 0, 0);
}

.border-white {
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.color-white {
    background-color: rgb(255, 255, 255);
    color: black;
}


.border-yellow {
    border-color: rgb(255, 255, 0);
    box-shadow: 0 0 8px rgba(255, 255, 0, 0.5);
}

.color-yellow {
    background-color: rgb(255, 255, 0);
    color: black;
}

.card {
    position: relative;
    z-index: 10;
    touch-action: none;
    border-radius: 5% / 3.5%;
    box-shadow: -5px -5px 5px -5px var(--color1),
        5px 5px 5px -5px var(--color2),
        -7px -7px 10px -5px transparent,
        7px 7px 10px -5px transparent,
        0 0 5px 0px rgba(255, 255, 255, 0),
        0 55px 35px -20px rgba(0, 0, 0, 0.5);

    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;
    --color1: var(--pika1);
    --color2: var(--pika2);
    animation-delay: 0.25s;
}

.card:hover {
    box-shadow:
        -20px -20px 30px -25px var(--color1),
        20px 20px 30px -25px var(--color2),
        -7px -7px 10px -5px var(--color1),
        7px 7px 10px -5px var(--color2),
        0 0 13px 4px rgba(255, 255, 255, 0.3),
        0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card:before,
.card:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    transition: all .33s ease;
}

.card:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(115deg,
            transparent 0%,
            var(--color1) 25%,
            transparent 47%,
            transparent 53%,
            var(--color2) 75%,
            transparent 100%);
    opacity: .5;
    filter: brightness(.5) contrast(1);
    z-index: 1;
}

.card.animated {
    transition: none;
    animation: holoCard 12s ease 0s 1;
}

.card.animated:before {
    transition: none;
    animation: holoGradient 12s ease 0s 1;
}

.card.animated:after {
    transition: none;
    animation: holoSparkle 12s ease 0s 1;
}

.card:after {
    opacity: 1;
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
        url(https://assets.codepen.io/13471/holo.png),
        linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all .33s ease;
    mix-blend-mode: color-dodge;
    opacity: .75;
    border-radius: 10px;
}

.card.active:after,
.card:hover:after {
    filter: brightness(1) contrast(1);
    ;
    opacity: 1;
}

.card.active,
.card:hover {
    animation: none;
    transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
    animation: none;
    background-image: linear-gradient(110deg,
            transparent 25%,
            var(--color1) 48%,
            var(--color2) 52%,
            transparent 75%);
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: .88;
    filter: brightness(.66) contrast(1.33);
    transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
    animation: none;
    transition: none;
}

@keyframes holoSparkle {
    0%, 100% {
        opacity: .75;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(1.25);
    }

    5%, 8% {
        opacity: 1;
        background-position: 40% 40%;
        filter: brightness(.8) contrast(1.2);
    }

    13%, 16% {
        opacity: .5;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(.8);
    }

    35%, 38% {
        opacity: 1;
        background-position: 60% 60%;
        filter: brightness(1) contrast(1);
    }

    55% {
        opacity: .33;
        background-position: 45% 45%;
        filter: brightness(1.2) contrast(1.25);
    }
}

@keyframes holoGradient {
    0%, 100% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(.5) contrast(1);
    }

    5%, 9% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(.75) contrast(1.25);
    }

    13%, 17% {
        background-position: 0% 0%;
        opacity: .88;
    }

    35%, 39% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(.5) contrast(1);
    }

    55% {
        background-position: 0% 0%;
        opacity: 1;
        filter: brightness(.75) contrast(1.25);
    }
}

@keyframes holoCard {
    0%, 100% {
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }

    5%, 8% {
        transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
    }

    13%, 16% {
        transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
    }

    35%, 38% {
        transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
    }

    55% {
        transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
    }
}

#header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#header img {
    width: 250px;
    object-fit: contain;
    animation: rubberBand 1.5s linear 1s 1;
}


@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

#btn-load-next-pokemons {
    background-image: url('../img/pokemon-btn.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 14px;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

#btn-load-next-pokemons:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

#btn-load-next-pokemons:active {
    transform: scale(0.9);
    box-shadow: none;
}


.enlarged {
    transform: scale(1.2);
}

.flipped {
    transform: rotateY(180deg);
}

.hidden {
    display: none;
}